    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>MUKER</h3>
                    <p>Muebles a medida</p>
                    <p>Diseñamos espacios que perduran</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Enlaces Rápidos</h3>
                    <ul class="footer-links">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="Nosotros.html">Nuestra Historia</a></li>
                        <li><a href="Productos.html">Productos</a></li>
                        <li><a href="proceso.html">Proceso de Cotización</a></li>
                        <li><a href="Proyectos.html">Proyectos Destacados</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Contacto</h3>
                    <ul class="footer-links">
                        <li><i class="fas fa-phone"></i> Telefono: </li>
                        <li><i class="fas fa-envelope"></i> Correo:</li>
                        <li><i class="fas fa-map-marker-alt"></i> Direccion: </li>
                        <li><i class="fas fa-clock"></i> Horario: </li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Políticas</h3>
                    <ul class="footer-links">
                        <li><a href="Politicas.html">Términos de Servicio</a></li>
                        <li><a href="Politicas.html">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; <span id="añoActual"></span> MUKER. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    