    <header>
        <div class="container site-header">
            <div class="header-content">
                <a href="index.html" class="logo"><img src="Imagenes/Index/logo.png" alt="Logo"></a>
                <button class="mobile-menu-btn">☰</button>
                <ul class="nav-links">
                    <li><a href="index.html" class="fondo">INICIO</a></li>
                    <li><a href="Nosotros.html" class="fondo">NOSOTROS</a></li>
                    <li><a href="Productos.html" class="fondo">PRODUCTOS</a></li>
                    <li><a href="proceso.html" class="fondo">PROCESO</a></li>
                    <li><a href="Proyectos.html" class="fondo">PROYECTOS</a></li>
                    <li><a href="#contacto" class="fondo">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </header>